<div>
    <form action="/register" method="POST" id="information">   
        <h1>Create Profile</h1>
        <p>Name: </p> <input type="text" id="name" name="name" placeholder="Full Name">
        <p>Email: </p> <input type="email" id="email" name="email" placeholder="Email">
        <p>Phone Number: </p> <input type="tel" id="phone" name="phone" placeholder="Phone Number">
        <p>Password: </p> <input type="text" id="password" name="password" placeholder="Password">
        <br><br>
        <button type="submit" id="submit">Submit</button>
        <div>Already have an account?</div>
        <a href="/login">Login</a>
    </form>
</div>