<div>
  <header>
        <p1 id="slogan">Securing Your Pet's Wellness Journey!</p1>
        <img src="./images/VetVault.png" alt="VetVault Logo" id="logo">
        <button id="profileBtn">My Profile</button>
  </header>
  <nav>
        <button>Prescriptions</button>
        <button>My Pets</button>
        <button>Schedule</button>
  </nav>
</div>