#logoutBtn{ 
  font-family: Georgia, 'Times New Roman', Times, serif;
  align-self: center;
  justify-self: center;
  background-color: white;
  margin-left: 100px;
  width: 175px;
  color: #4F6F52;
  border: 1px solid #4F6F52;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2em;
  }
#logoutBtnhover{
  border: 1px solid white;
  background-color: #AFD198;
  color: white;
}