<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Profile</title>
    <link rel="stylesheet" href="profile.css">
</head>
<body>
    <header>
    <p1 id="slogan">Securing Your Pet's Wellness Journey!</p1>
    <img src="VetVault.png" alt="VetVault Logo" id="logo">
    <a href="/userProfile"><button id="profileBtn">My Profile</button></a>
    </header>
    <nav>
        <!-- overwrite current button tags with these -->
        <a href="/prescriptions"><button>Prescriptions</button></a>
        <a href="/petList"><button>My Pets</button></a>
        <a href="/schedule"><button>Schedule</button></a>
    </nav>
    <div id="profile">
        <h1>Jayzed</h1>
        <img src="profile.jpg" alt=" Doggo1 Profile Picture">
        <div id="information">        
            <p>Name: <%- pet.name %> </p>
            <p>Gender: <%- pet.gender %></p>
            <p>Species: <%- pet.type %></p>
            <p>Breed: <%- pet.breed %></p>
            <p>Weight: <%- pet.weight %></p>
            <p>Birthdate: <%- pet.birthdate %></p>
            <p>description: <%- pet.description %></p>
            <p>Owned By: <button><%- pet.owner %></button></p>
            <p>Conditions: <%- pet.conds%></p>
            <p>Medications: <%- pet.meds %></p>
            <!-- <button>Edit</button> -->
        </div>
    </div>
</body> 
</html>