
body{
    background-color:#1A4D2E;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    position: relative;
}

/* header and nav */
header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    color:white;
    margin: 5px;
    padding: 10px;
    background-color: #4F6F52;
    border-radius: 20px;
}

#slogan{
    align-self: center;
    justify-self: center;
    font-size: 1.2em;
}

#logo{
    align-self: center;
    justify-self: center;
    background: url("homepage.html");
    border-radius: 20px;
}
#profileBtn{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-self: center;
    justify-self: center;
    background-color: white;
    width: 300px;
    color: #4F6F52;
    border: 1px solid #4F6F52;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2em;
}
#profileBtn:hover{
    border: 1px solid white;
    background-color: #AFD198;
    color: white;
}

nav{
    display: grid;
    justify-content: middle;
    margin: 5px;
    text-align: center;
    grid-auto-flow: column;
    grid-template-columns: 33%;
    grid-column-gap: 10px;
    padding: 10px;
    background-color: #AFD198;
    border-radius: 20px;
}

nav button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:white;
    color: #AFD198;
    border: 1px solid #AFD198;
    border-radius: 10px;
    padding: 10px;
    font-size: 2em;
}

nav button:hover{
    border: 1px solid white;
    background-color: #AFD198;
    color: white;
}

#scheduleBlock{
    justify-content: center;
    width: 100% - 10px;
    height: 65.5vh; /* to be changed to fit-content when calendar is implemented*/
    padding: 10px;
    margin: 5px;
    background-color: #E1F0DA;
    border: 1.5px solid black;
    border-radius: 20px;
}

#scheduleBlock h1{
    text-align: center;
    font-size: 3em;
    color: Black;
}
