<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VetVault Homepage</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
  <header>
    <p1 id="slogan">Securing Your Pet's Wellness Journey!</p1>
    <img src="/images/VetVault.png" alt="VetVault Logo" id="logo">
    <button id="profileBtn">My Profile</button>

  </header>
  <% if (showNavbar) { %>
    <%- include ("partials/navbar.ejs") %>
  <% } %>
  <%- body %>
</body> 
</html>