<div>
  <h1>Edit Medications</h1>
  <form action="/petProfile/<%-pet.PetID %>/editMedication" method="POST" id="information_pet">
    <div>
      <p>Current Medication Name: <%- pet.MedName %> </p>
      <label for="medName">Edit Medication Name:</label>
      <input type="text" id="medName" name="medName" placeholder="Enter Medication Name">
    </div>
    <div>
      <p>Current Medication Description: <%- pet.MedDescription %></p>
      <label for="medDescription">Edit Medication Description:</label>
      <input type="text" id="medDescription" name="medDescription" placeholder="Enter Medication Description">
    </div>
    <div>
      <input type="submit" value="Save">
    </div>
</div>