<div id="petList">
    <!-- <p1>Enter pet ID:</p1>
    <input type="text" id="input"></input> --> 
    
    <!-- ^ for admin view -->


    <% pets.forEach(function(pet) { %>
        <form method="GET" action=<%="/petProfile/" + pet.PetID %>>
            <a href="/petProfile/<%= pet.PetID %>"><%- pet.Name %></a>
        </form>
    <% }); %>
</div>
